body
{
    background-color: lightgrey !important;
    margin:0 !important;
}

.navbar{
    z-index: 99;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#content{
    padding: 5em 0em;
}

.margin{
    margin: 0 auto;
}

.padding{
    padding: 1em;
}

#content img{
    width:80%;
    height:auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*below 1200px width*/
@media (max-width: 1200px) {

}
