body
{
    background-color: lightgrey !important;
    margin:0 !important;
}

.navbar{
    z-index: 99;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

#content{
    padding: 2em 0em;
}

.margin{
    margin: 0 auto;
}

.padding{
    padding: 1em;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
