<html>
    <head>
        {{partial "head" .}}
    </head>

    <body>
        {{ partial "header" .}}
        <div class = "container">
            <div id="content">
                <!-- Remember to take off from draft
                    .Site.Pages gets tags and such too
                    .Site.Sections is directories
                    .Site.RegularPages is singles
                -->

                    {{block "main" .}}
                    {{end}}

            </div>
        </div>

        {{ partial "footer" .}}
    </body>

</html>
