{{ define "main" }}
    <h1 class="title">Computational Neural Information Engineering Lab</h1>
    <div id="frontImage">
        <img src="/images/cover-slide.png">
    </div>
    <h1> Welcome to the CNIEL website!</h1>

                
            <h2>CNIEL is lead by Austin J. Brockmeier, Ph.D.</h2>
                <h3 class="title">Assistant Professor in the  <a href="http://ece.udel.edu/index.html" target="_blank">Department of Electrical and Computer Engineering (ECE)</a> and the <a href="http://www.cis.udel.edu" target="_blank">Department of Computer and Information Sciences (CIS)</a> within the <a href="https://www.engr.udel.edu/">College of Engineering</a> at the <a href="https://www.udel.edu/home/" target="_blank">University of Delaware (UD)</a>, and a resident faculty in UD's <a href="https://dsi.udel.edu/" target="_blank">Data Science Institute</a>.<p></p>
<a href="mailto:ajbrock@udel.edu">Email</a>  | <a href="https://scholar.google.com/citations?hl=en&amp;user=g_QoCQQAAAAJ&amp;view_op=list_works&amp;sortby=pubdate">Google Scholar</a>
</h3>
<p></p>
<h3>CNIEL is a <a href="/members/">team</a> of researchers: computer scientists and engineers (electrical, computer, and neural) engaged in  <a href="/research/">research</a>,  <a href="/research/education/">education</a>, and  <a href="/research/discrepancies/">outreach</a>, focused on <strong>Data Science, Machine Learning, and Signal Processing</strong> in order to </em> extract actionable information from complex data, especially to <strong>understand and interface with the brain</strong>.  Please check out the  <a href="/research/news/">news</a>!</h3>

        </div>

    <style>
        #frontImage{
            padding: 0;
            width: 100%;
            overflow:hidden;
            object-fit: cover;
            text-align: center;

            margin-bottom: 2em;
        }

        #frontImage img{
            width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            #frontImage img{
                width:100%;
            }
        }
    </style>
{{ end }}
