{{ define "main" }}
    <h1 class="title">Computational Neural Information Engineering Lab</h1>
    <div id="frontImage">
        <img src="/images/logo-black-fill.svg">
    </div>
    <h1> Welcome to the CNEIL website!</h1>

                
            <h2>CNIEL is lead by Austin J. Brockmeier, Ph.D.</h2>
                <h5 class="title">Assistant Professor in the  <a href="http://ece.udel.edu/index.html" target="_blank">Department of Electrical and Computer Engineering (ECE)</a> and the <a href="http://www.cis.udel.edu" target="_blank">Department of Computer and Information Sciences (CIS)</a> within the <a href="https://www.engr.udel.edu/">College of Engineering</a> at the <a href="https://www.udel.edu/home/" target="_blank">University of Delaware (UD)</a>, and a resident faculty in UD's <a href="https://dsi.udel.edu/" target="_blank">Data Science Institute</a>.</h5>
<a href="mailto:ajbrock@udel.edu">Email</a></p>
<p><a href="https://scholar.google.com/citations?hl=en&amp;user=g_QoCQQAAAAJ&amp;view_op=list_works&amp;sortby=pubdate">Google Scholar</a></p>
<span>306 Evans Hall</span></br>
<span>139 The Green</span></br>
<span>Newark, DE 19716</span></br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.6448729985113!2d-75.75332664967561!3d39.68020237935668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c7aa2fc8419f8d%3A0x581485196c68ee06!2sEvans%20Hall%2C%20139%20The%20Green%2C%20Newark%2C%20DE%2019716!5e0!3m2!1sen!2sus!4v1629862277791!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<p></p>
<p></p>
<p></p>
<h2>CNIEL is a <a href="/members/">team</a> of researchers: computer scientists and engineers (electrical, computer, and neural) engaged in  <a href="/research/">research</a>,  <a href="/research/education/">education</a>, and  <a href="/research/discrepancies/">outreach</a>. Please check out the  <a href="/research/news/">news</a>!</h2>
 
<h2><em>CNIEL is focused on </em> <strong>Data Science, Machine Learning, and Signal Processing</strong>.<br></h2><h3>These topics involve the underlying mathematical analysis, design of statistical models, and software implementation of data and signal processing (filtering and neural networks) as well as optimization routines.</h3>
<ul>
<li>Finding discrepancies in data sets using <a href="/research/discrepancies/">divergences</a></li>
<li>Selecting representations of data using <a href="/research/informativeness/">informativeness measures</a></li>
</ul>
<h3><em>In order to </em> extract actionable information from complex data, especially to <strong>understand and interface with the brain</strong></h3>
<ul>
<li>Identify meaningful features (in space or time) of the evoked neural response using <a href="/research/neural_decoding/">metric learning</a></li>
<li>Find patterns of waveforms in EEGs using <a href="/research/eegs/">neural signal processing</a></li>
<li>Extract information from text and use machine learning to prioritize large collections of articles using <a href="/research/pico/">natural language processing and text mining</a></li>
</ul>
</ul>

        </div>

    <style>
        #frontImage{
            padding: 0;
            width: 100%;
            height:270px;
            overflow:hidden;
            object-fit: cover;
            text-align: center;

            margin-bottom: 2em;
        }

        #frontImage img{
            width: 500px;
            height: auto;
        }

        @media (max-width: 768px) {
            #frontImage img{
                width:100%;
            }
        }
    </style>
{{ end }}
