{{ define "main" }}
    <h1 class="title">Computational Neural Information Engineering Laboratory</h1>
    <div id="frontImage">
        <img src="/images/cover-slide.png">
    </div>
                
<h4>CNIEL is a <a href="/members/#top">team</a> of researchers: computer scientists, data scientists, and engineers (electrical, computer, and neural) lead by <a href="/members/">Austin J. Brockmeier</a> and engaged in  <a href="/research/">research</a>,  <a href="/research/education/">education</a>, and  <a href="/research/discrepancies/">outreach</a>, focused on <strong>Data Science, Machine Learning, and Signal Processing</strong> in order to </em> extract actionable information from complex data, especially to <strong>understand and interface with the brain</strong>.  Please check out the  <a href="/research/news/">news</a>!</h4>

        </div>

    <style>
        #frontImage{
            padding: 0;
            width: 100%;
            overflow:hidden;
            object-fit: cover;
            text-align: center;

            margin-bottom: 2em;
        }

        #frontImage img{
            width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            #frontImage img{
                width:100%;
            }
        }
    </style>
{{ end }}
