
<nav class="navbar navbar-expand-md justify-content-end navbar-dark bg-dark">
    
    <a class="navbar-brand" href="{{.Site.BaseURL}}">
        <img src= "{{.Site.BaseURL}}/images/logo-white-fill.svg" height="50px" width="auto">
        {{.Site.Title}}
    </a>
    <div class="ml-auto mr-1"></div>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Remember to take off from draft
                    .Site.Pages gets tags and such too
                    .Site.Sections is directories
                    .Site.RegularPages is singles
    -->
    <div class="navbar-collapse collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">

            <li class="nav-item mobile-only">
                <a class="nav-link" href="{{.Site.BaseURL}}" >Home</a>
            </li>

            {{with .Site.GetPage "research"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-hover="dropdown" href="{{.RelPermalink}}" role="button" aria-haspopup="true" aria-expanded="false">Research</a>
                    <div class="dropdown-menu">
                        {{range where .Site.RegularPages "Section" "research"}}
                            {{ if not .Params.ExternalLink }}
                                {{ if isset .Params "shorttitle"  }}
                                    <a class="dropdown-item" href="{{.RelPermalink}}">{{title .Params.ShortTitle}}</a>
                                {{ else }}
                                    <a class="dropdown-item" href="{{.RelPermalink}}">{{title .Title}}</a>
                                {{end}}
                            {{ end }}
                        {{end}}
                    </div>
                </li>
            {{end}}

            {{with .Site.GetPage "education"}}
            <li class="nav-item">
                <a class="nav-link" href="{{.RelPermalink}}" >Education</a>
            </li>
            {{end}}

            {{with .Site.GetPage "outreach"}}
                <li class="nav-item">
                    <a class="nav-link" href="{{.RelPermalink}}" >Outreach</a>
                </li>
            {{end}}

            {{with .Site.GetPage "members"}}
                <li class="nav-item">
                    <a class="nav-link" href="{{.RelPermalink}}" >Members</a>
                </li>
            {{end}}

            {{with .Site.GetPage "admissions"}}
                <li class="nav-item">
                    <a class="nav-link" href="{{.RelPermalink}}" >Admissions</a>
                </li>
            {{end}}

            {{with .Site.GetPage "contact"}}
                <li class="nav-item">
                    <a class="nav-link" href="{{.RelPermalink}}" >Contact</a>
                </li>
            {{end}}

        </ul>
    </div>


</nav>