{{ define "main" }}
    <h1>{{.Title}}</h1>
    <div class="row">
        <div class="mapContainer col-md-8">
        <iframe class = "map" src="{{.Params.GoogleEmbedLink}}" 
        allowfullscreen="" loading="eager"></iframe>
        </div>
        <div class="col-md-4 textContainer">
            <h5>Location</h5>
            <p>
                {{.Params.RoomLocation}}</br>
                {{.Params.Address}}
            </p>

            {{if .Params.Email}}
                <h5>Email</h5>
                <a class="button" href="mailto:{{.Params.Email}}">
                    {{.Params.Email}}
                </a>
            {{end}}

            <h5>For admissions</h5>
            <a class="button" href='/singles/admissions'>
                See here
            </a>
        </div>
    </div>

    <style>
        .map{
            height: 400px;
            width: 100%;
            border: 10px;
            border-color: black;
            border-style: solid;
        }

        h5{
            margin-top: 2em;
        }

        .textContainer{
            padding-left: 2em;
        }

        .textContainer a{
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            h5{
                margin-top: 1.5em;
            }
        }

    </style>
{{end}}