{{ define "main" }}
    <h1>{{.Title}}</h1>
    {{.Content}}

    <style>
        #content{
            text-align: center;
        }

        p, h1, h2, h3, h4, h5, h6{
            text-align: left;
        }
        .md_image_wrapper{
            display: inline-block;
            margin: 0 auto;
        }
        .md_image{
            height:350px;
            width:auto;
        }

        @media (max-width: 1000px) {
            .md_image{
                height:300px;
                width:auto;
            }
        }
        @media (max-width: 768px) {
            .md_image{
                height:auto;
                width:100%;
            }
        }
    </style>
{{end}} 