{{ define "main" }}
    <h1>Research</h1>
    <div class = "researchContainer">
    {{ range .Data.Pages.ByDate.Reverse}}
        <div class = "researchItem">
            <h5>{{title .Params.Title}}</h5>
            <div class="researchImage">
                {{if .Params.ImageLink }} 
                    <img src="{{.Params.ImageLink}}" >
                {{else}}
                    <img src="/images/logo-black-fill.svg" >
                {{end}}
            </div>

            {{if .Params.ImageLink }} 
                <p>{{.Params.ShortDescription}}</p>
            {{else}}
                <p>{{.Params.ShortDescription}}</p>
            {{end}}


            {{if .Params.ExternalLink}} 
                {{ if (hasPrefix .Params.ExternalLink "http") }}
                    <a class="button" href="{{.Params.ExternalLink}}" target="_blank">Redirect</a>
                {{else}}
                    <a class="button" href="https://{{.Params.ExternalLink}}" target="_blank">Redirect</a>
                {{end}}
            {{else}}
                <a class="button" href="{{.RelPermalink}}">Learn More</a>
            {{end}}
        </div>
    {{end}}
    </div>

    <style>
        .researchContainer{
            display: flex;                
            flex-direction: row;  
            flex-wrap: wrap;        
            justify-content: space-around;
        }

        .researchItem{
            display:inline-block;
            vertical-align: top;
            text-align: left;
            width: 300px;

            margin: 3em 1em 3em 0em;
        }

        .researchImage{
            padding: 0;
            height: 200px;
            overflow: hidden;
            text-align: center;
            object-fit: cover;
            margin: 1em 0em;
        }

        .researchImage img{
            min-height: 200px;
            min-width: 300px;
            width: 300px;
            object-fit: cover;
            object-position: 50% 50%;
        }

        @media (max-width: 768px) {
            .researchItem, .button{
                width: 100%;
            }
            .researchImage img{
                width: 90%;
            }
        }
    </style>


{{end}}