{{ define "main" }}
    <h1>{{title .Title}}</h1>
    <p>
        {{.Params.Authors}}<br/>
        <i>{{.Params.Journal}}</i>, Vol. {{.Params.Volume}}, No. {{.Params.Issue}}, pp. {{.Params.Pages}}, {{.Params.Year}}.
    </p>

    
    <a class="button" target="_blank" rel="noopener noreferrer" href="{{.Params.JournalLink}}">JOURNAL</a>

    <a class="button" target="_blank" rel="noopener noreferrer" href="{{.Params.PdfLink}}">PDF</a>
    
    <a class="button" href="{{.Params.CodeLink}}">CODE</a>

    <div class = "researchContent">
        {{.Content}}
    </div>
    

    <script>
        $(".md_image").each(function() {
            let img = $(this);
            let alt = img.attr('alt');
            img.after(
                `<figure>${alt}</figure>`);
        });
    </script>

    <style>
        h1{
            font-size: 2.2em;
        }
                
        .md_image, figure{
            width:80%;
            height:auto;
            padding:1em 0em;
        }

        .md_image, figure {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        figure{
            font-size: .8em;
            font-style: italic;
        }

        .researchContent{
            margin-top: 2.5em;
        }
    </style>

{{ end }}