{{ define "main" }}
    <h1>{{title .Title}}</h1>
    <p>
        {{.Params.Authors}}<br/>
        {{if .Params.Journal}} <i>{{.Params.Journal}}</i>, {{end}}
        {{if .Params.Volume}} Vol. {{.Params.Volume}}, {{end}}
        {{if .Params.Issue}} No. {{.Params.Issue}},  {{end}}
        {{if .Params.Pages}} pp. {{.Params.Pages}},  {{end}}
        {{if .Params.Issue}} {{.Params.Year}} {{end}}
    </p>

    
    {{if .Params.JournalLink}} <a class="button" target="_blank" rel="noopener noreferrer" href="{{.Params.JournalLink}}">JOURNAL</a> {{end}}

    {{if .Params.PdfLink}} <a class="button" target="_blank" rel="noopener noreferrer" href="{{.Params.PdfLink}}">PDF</a> {{end}}
    
    {{if .Params.CodeLink}} <a class="button" href="{{.Params.CodeLink}}">CODE</a> {{end}}

    <div class = "researchContent">
        {{.Content}}
    </div>
    

    <script>
        $(".md_image").each(function() {
            let img = $(this);
            let alt = img.attr('alt');
            img.after(
                `<figure>${alt}</figure>`);
        });
    </script>

    <style>
        h1{
            font-size: 2.2em;
        }
        
        .md_image, figure{
            width:80%;
            height:auto;
            padding:1em 0em;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        figure{
            font-size: .8em;
            font-style: italic;
        }
        
        .researchContent{
            margin-top: 2.5em;
        }
    </style>

{{ end }}