{{ define "main" }}
    <h1>Current Members</h1>
    {{ range where .Data.Pages.ByDate ".Params.currentmember" "==" true}}
        <div class ="member currentmember margin row justify-content-center">     
            <div class = "memberImage col-md-4">
                {{if .Params.ImageLink}}
                    <img class= "md_image" src="{{.Params.ImageLink}}" title="{{.Params.Name}}" alt="{{.Params.Name}}">
                {{else}}
                    <img class= "md_image" src="/images/profilePlaceholder.svg" title="{{.Params.Name}}" alt="{{.Params.Name}}">
                {{end}}
            </div>
            <div class = "memberContent col-md-8">
                <h2 class="name">{{ .Params.Name }}</h2>
                <h5 class="title">{{.Params.Title }}</h5>
                {{ .Content }}
            </div>
        </div>
    {{end}}

    <h1>Past Members</h1>

    {{ range where .Data.Pages.ByDate.Reverse ".Params.currentmember" "==" false}}
        <div class ="member pastmember margin row justify-content-center">
            <div class = "memberImage col-md-4">
                {{if .Params.ImageLink}}
                    <img class= "md_image" src="{{.Params.ImageLink}}" title="{{.Params.Name}}" alt="{{.Params.Name}}">
                {{else}}
                    <img class= "md_image" src="/images/profilePlaceholder.svg" title="{{.Params.Name}}" alt="{{.Params.Name}}">
                {{end}}
            </div>
            <div class = "memberContent col-md-8">
                <h2 class="name">{{ .Params.Name }}</h2>
                <h5 class="title">{{.Params.Title }}</h5>
                {{ .Content }}
            </div>
        </div>
    {{end}}


    <style>
        .member{
            margin: 5em 0em;
        }
        
        .memberImage{
            padding: 0;
            height: 300px;
            width: 300px;
            overflow:hidden;
            text-align: center;
            object-fit: cover;
        }

        .memberImage img{
            height: 300px;
            width: 250px;
            object-fit: cover;
            object-position: 50% 50%;
        }

        .memberContent{
            padding-top: 2em;
            padding-left: 2em;
        }

        .title{
            padding-bottom: 1em;
        }


        .member a{
            margin-top: 1em;
        }


                
        /*below 768px width*/
        @media (max-width: 768px) {
            .memberContent{
                padding: 2em 0em;
            }
        }

        @media (max-width: 480px){
            .member a{
                width:100%
            }
        }


    </style>

{{end}}
